@CHARSET "UTF-8";
body>table, body>table>th,body>table>td {
    border: 0px solid black;
}

body>table{
    width:100%;
}
DIV.table 
{
    display:table;
   border: 1px solid black;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td,form.td
{
    display:table-cell;
    border: 1px solid black;
}
form { 
    display: inline-block;
    margin-top: 0em;
}
input[type=format] {
   
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}input[type=case],input[type=number]{
   
 	width: 60px;	
 	
 	 
}
input[type=text]
{
	border-radius: 4px;
}
input[type=submit]{
	width: 60px;
	
}
fieldset,td[bgcolor="lightgrey"]{ 
 	border-radius: 15px;
 	 
}